<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @formal_education.level %>
</p>

<p>
  <strong>Area:</strong>
  <%= @formal_education.area %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @formal_education.degree %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @formal_education.institute %>
</p>

<p>
  <strong>Country:</strong>
  <%= @formal_education.country %>
</p>

<p>
  <strong>Department:</strong>
  <%= @formal_education.department %>
</p>

<p>
  <strong>City:</strong>
  <%= @formal_education.city %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @formal_education.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @formal_education.date_end %>
</p>

<p>
  <strong>Study state:</strong>
  <%= @formal_education.study_state %>
</p>

<p>
  <strong>Validated:</strong>
  <%= @formal_education.validated %>
</p>

<p>
  <strong>Person:</strong>
  <%= @formal_education.person %>
</p>

<%= link_to 'Edit', edit_formal_education_path(@formal_education) %> |
<%= link_to 'Back', formal_educations_path %>
