<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @convocation.position %>
</p>

<p>
  <strong>Amount vacancies:</strong>
  <%= @convocation.amount_vacancies %>
</p>

<p>
  <strong>Hierarchy:</strong>
  <%= @convocation.hierarchy %>
</p>

<p>
  <strong>City:</strong>
  <%= @convocation.city %>
</p>

<p>
  <strong>Department:</strong>
  <%= @convocation.department %>
</p>

<p>
  <strong>Area:</strong>
  <%= @convocation.area %>
</p>

<p>
  <strong>Subarea:</strong>
  <%= @convocation.subarea %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @convocation.gender %>
</p>

<p>
  <strong>Min age:</strong>
  <%= @convocation.min_age %>
</p>

<p>
  <strong>Max age:</strong>
  <%= @convocation.max_age %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @convocation.education_level %>
</p>

<p>
  <strong>Education state:</strong>
  <%= @convocation.education_state %>
</p>

<p>
  <strong>Language:</strong>
  <%= @convocation.language %>
</p>

<p>
  <strong>Description:</strong>
  <%= @convocation.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @convocation.company %>
</p>

<%= link_to 'Edit', edit_convocation_path(@convocation) %> |
<%= link_to 'Back', convocations_path %>
