<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @language.description %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @language.institute %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @language.domain %>
</p>

<p>
  <strong>Person:</strong>
  <%= @language.person %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
