<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @experience.company %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @experience.phone %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @experience.sector %>
</p>

<p>
  <strong>Position:</strong>
  <%= @experience.position %>
</p>

<p>
  <strong>Position level:</strong>
  <%= @experience.position_level %>
</p>

<p>
  <strong>Position equivalent:</strong>
  <%= @experience.position_equivalent %>
</p>

<p>
  <strong>Area:</strong>
  <%= @experience.area %>
</p>

<p>
  <strong>Immediate boss:</strong>
  <%= @experience.immediate_boss %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @experience.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @experience.date_end %>
</p>

<p>
  <strong>Time experience:</strong>
  <%= @experience.time_experience %>
</p>

<p>
  <strong>City:</strong>
  <%= @experience.city %>
</p>

<p>
  <strong>Function performed:</strong>
  <%= @experience.function_performed %>
</p>

<p>
  <strong>Actual job:</strong>
  <%= @experience.actual_job %>
</p>

<p>
  <strong>Validated:</strong>
  <%= @experience.validated %>
</p>

<p>
  <strong>Person:</strong>
  <%= @experience.person %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
