<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reference.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @reference.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @reference.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @reference.cellphone %>
</p>

<p>
  <strong>Type:</strong>
  <%= @reference.type %>
</p>

<p>
  <strong>Company:</strong>
  <%= @reference.company %>
</p>

<p>
  <strong>Position:</strong>
  <%= @reference.position %>
</p>

<p>
  <strong>Person:</strong>
  <%= @reference.person %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
