<p id="notice"><%= notice %></p>

<p>
  <strong>Type study:</strong>
  <%= @no_formal_education.type_study %>
</p>

<p>
  <strong>Country:</strong>
  <%= @no_formal_education.country %>
</p>

<p>
  <strong>Department:</strong>
  <%= @no_formal_education.department %>
</p>

<p>
  <strong>City:</strong>
  <%= @no_formal_education.city %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @no_formal_education.degree %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @no_formal_education.institute %>
</p>

<p>
  <strong>Area:</strong>
  <%= @no_formal_education.area %>
</p>

<p>
  <strong>Time intensity:</strong>
  <%= @no_formal_education.time_intensity %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @no_formal_education.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @no_formal_education.date_end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @no_formal_education.description %>
</p>

<p>
  <strong>Validated:</strong>
  <%= @no_formal_education.validated %>
</p>

<p>
  <strong>Person:</strong>
  <%= @no_formal_education.person %>
</p>

<%= link_to 'Edit', edit_no_formal_education_path(@no_formal_education) %> |
<%= link_to 'Back', no_formal_educations_path %>
